<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <appSettings>
    <add key="objects" value=""/>
    <add key="objectsNames" value=""/>
    <add key="objectsModDateTime" value=""/>
    <add key="timerInterval" value="600000"/>
    <add key="autoStart" value="False"/>
    <add key="minimize" value="False"/>
  </appSettings>
</configuration>
